{% extends 'base.html' %}

{% block content %}
    <h1>Reset password</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form method="post" action="{{ url_for('auth.reset_password') }}">
        <p>
            <label for="token">Reset code</label><br>
            <input type="text" id="token" name="token" autocomplete="off" required>
        </p>
        <p>
            <label for="password">New password (at least 8 characters)</label><br>
            <input type="password" id="password" name="password" autocomplete="new-password" required>
        </p>
        <button type="submit">Set new password</button>
    </form>
{% endblock %}
